* {
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
  outline: none;
}

.input-wrapper {
  margin: 10px;
}

.input-field {
  width: 200px;
  height: 30px;
}

.button {
  width: 200px;
  height: 30px;
}

.container {
  text-align: center;
}

.button-link {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}

.input-error {
  position: absolute;
  padding: 8px;
  color: red;
  font-size: 13px;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
}

table td button {
  margin: 5px;
  cursor: pointer;
}

table img {
  width: 50px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper ul {
  display: flex;
}

.header-wrapper ul li {
  list-style-type: none;
  padding: 5px;
}

.header-wrapper ul li a {
  text-decoration: none;
}

.header-wrapper ul li button {
  text-decoration: transparent;
  border: none;
  color: blueviolet;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  background-color: #fff;
}

.main-page-banner {
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWeWsK8EyPAkads8aKlBa0aqWbMEEhE5SLdBDHC66OetnkAf4fmsr2Kri3_1xXLRWzs0s&usqp=CAU"); */
  background-color: rgb(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  padding: 30px;
  height: 230px;
  color: #fff;
  text-align: center;
}

.input-wrapper {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  width: 70%;
}

.select-input {
  height: 40px;
  border: none;
  width: 30%;
  padding-left: 15px;
}

.search-input {
  height: 40px;
  border: none;
  width: 30%;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
